<%- include('../partials/header') %>

  <h2><%= displayCategory %></h2>
  <h2>Remaining Guesses: <span id="remainingGuesses">6</span></h2>
  <div id="letter-box"></div>

  <p id="displayWord"><%= displayWord %></p>

  
  <!-- utf-8 decimal codes for sunglass smiley and  cry. prepend &# to make them work. -->
  <p id="showWord" hidden><span id="lose-emoji1"></span><span id="word"><%= word %></span><span id="lose-emoji2"></span></p>

  <p id="winner" hidden><span id="win-emoji1"></span>YOU WIN!<span id="win-emoji2"></span></p>

  <script src="js/clientSide.js"></script>
</body>
</html>