<%- include('../partials/header') %>

  <h2><%= displayCategory %></h2>
  <h2>Remaining Guesses: <span id="remainingGuesses">6</span></h2>
  <div id="letter-box"></div>

  <p id="displayWord"><%= displayWord %></p>

  
  <!-- utf-8 decimal codes for sunglass smiley and  cry. prepend &# to make them work. -->
  <p id="showWord" hidden>&#x1F62B;<span id="word"><%= word %></span>&#x1F62B;</p>

  <p id="winner" hidden>&#128526;YOU WIN!&#128526;</p>

  <script src="js/clientSide.js"></script>
</body>
</html>